@import "../mixins/_mixin.scss";

.text-app {
  display: none;
  position: fixed;
  width: 600px;
  height: 600px;
  background-color: rgb(25, 25, 25);
  top: 18%;
  left: 18%;
  border-radius: 10px 10px 0 0;
  &__top {
    @include defTop;
  }
  &__options {
    @include flexJuStart;
    height: 35px;
    font-size: 12px;
    border-bottom: 0.5px solid rgb(50, 50, 50);
    &__save {
      @include explBtn;
      @include appHover;
    }
  }
  &__main {
    &__text {
      resize: none;
      background-color: rgb(25, 25, 25);
      cursor: text;
      color: white;
      font-size: 12px;
      letter-spacing: 0.3px;
      &:focus {
        outline: none;
        border: none;
      }
    }
  }
}
